# Copy this to .env and fill in your values
# docker compose up will read .env automatically

# Your MySQL connection string
CONNECTION_STRING=Server=localhost;Port=3306;Database=university_portal;Uid=root;Pwd=yourpassword;SslMode=None;

# For Aiven (SSL): also set SSL_CA_PATH to the local path of your ca.pem
# CONNECTION_STRING=Server=mysql-xxx.aivencloud.com;Port=28641;Database=defaultdb;Uid=avnadmin;Pwd=yourpassword;SslMode=VerifyCA;SslCa=/certs/ca.pem;
# SSL_CA_PATH=/home/gnuh/UniversityPortal/docs/ca.pem

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
